.navbar-fixed {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #3d3e41;
}
.size {
  width: 20%;
  height: 20%;
  background: #a8eb12;
}
.border-primary {
  border-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12), 3;
}
.myjob {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card-text {
  height: 100px;
  overflow: hidden;
}

.text-primary {
  cursor: pointer;
}
#teme {
  position: fixed;
  top: 16%;
  left: 5%;
  z-index: 1;
}
#mode-toggle {
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 1;
}
#darkmode {
  background: black;
  color: aliceblue;
}
#darkmode .card {
  background: black;
  color: aliceblue;
}
.back-home {
  position: fixed;
  border-radius: 5px;
  bottom: 10%;
  right: 5%;
  z-index: 1;
}
.back-home:hover {
  background: #ccc3c3ee;
}

@media (max-width: 414px) {
  #cards {
    padding-left: 30px;
    padding-right: 30px;
  }
  .cards-container h3 {
    text-align: center;
  }
  #contact {
    text-align: center;
  }
}

/* poligon */
.pol {
  background: #0e54bd23;
  width: 200px;
  aspect-ratio: 1;
  clip-path: polygon(
    96.77% 67.67%,
    32.33% 96.77%,
    3.23% 32.33%,
    67.67% 3.23%,
    96.77% 67.67%,
    calc(67.67% - 5.3px) calc(3.23% - -14.03px),
    calc(3.23% - -14.03px) calc(32.33% - -5.3px),
    calc(32.33% - -5.3px) calc(96.77% - 14.03px),
    calc(96.77% - 14.03px) calc(67.67% - 5.3px),
    calc(67.67% - 5.3px) calc(3.23% - -14.03px)
  );
}
